*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

/* Fonte personalizada */
@font-face{
    font-family: NetflixFont;
    src: url(../fonts/BebasNeue-Regular.woff2);
}

body{
    background-image: url(../images/background.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-attachment: fixed;
}

nav{
    text-transform: uppercase;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav div{
    display: inline-block;
    margin-left: 30px;
    font-size: 30px;
    font-family: NetflixFont;
    font-weight: bolder;
    color: white;
}

nav div span span{
    color: #DB202C;
}

nav ul{
    position: relative;
    display: inline-block;
}

nav ul li{
    align-items: center;
    display: inline-block;
    list-style: none;
}

nav ul li i{
    margin-left: 10px;
}

nav ul li a{
    text-decoration: none;
    color: white;
    padding: 30px;
    display: block;
}

nav ul li:hover{
    background-color: white;
}


nav ul li:hover > a{
    color: black;
}

nav ul ul{
    position: absolute;
    display: none;
    background-color: white;
    width: 178px;
}

nav ul ul li{
    text-align: center;
    display: block;
}

nav ul ul li a{
    color: black;
}

nav ul li:hover ul{
    display: block;
}

nav ul ul li:hover > a{
    font-weight: bolder;
    color: #DB202C;
}